.support-button {
    position: relative;

    .main-button {
        display: flex;
        cursor: pointer;
        padding: 10px;
        color: #919191;

        p {
            margin-right: 5px;
        }

        &:hover {
            color: black;
        }
    }

    .collapse-menu {
        position: absolute;
        width: 170px;
        // padding: 10px;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.22);


        ul {
            padding: 0;
        }

        li {
            list-style-type: none;
            padding: 7px 15px;

            a {
                text-decoration: none;
                color: #919191;

                &:hover {
                    color: black;
                }
            }
        }
    }
}