.header {
    display: flex;
    align-items: center;
    font-size: 14px;

    a {
        text-decoration: none;
        margin: 0px 10px 0px 10px;
        color: #919191;

        &:hover {
            color: black;
        }
    }

}